<%# add navigation links to this file %>
<span class='nav-item'>
	<%= link_to 'Add ', new_article_path %>&nbsp;&nbsp;&nbsp;
	<%= link_to 'News', articles_path %>&nbsp;&nbsp;&nbsp;
	<%= link_to 'About', page_path('about') %>
</span>



